<div
   class="content-box new-contact-card"
   id="new-contact-card"
   onclick="event.cancelBubble = true;">
   <div class="new-contact-card-left">
      <img src="assets/img/logo-white.png" alt="join logo white" />
      <h1>Add contact</h1>
      <h2>Tasks are better with a team!</h2>
      <div class="blue-divider"></div>
   </div>
   <form
      id="new-contact-form"
      class="new-contact-form center"
      onsubmit="event.preventDefault(); createNewContact(); closeModal(); toggleSlideAnimationRight('modal')">
      <div class="color-input-relative">
         <input
            type="color"
            id="color-input"
            name="color-input"
            class="color-input"
            value="#ffffff"
            oninput="changePreview()" />
         <label for="color-input" class="user-icon user-icon-big edit-user-icon" id="new-user-icon"
            >AA</label
         >
      </div>
      <div class="flex-column">
         <input
            type="text"
            id="form-name"
            name="form-name"
            placeholder="Name"
            autocomplete="cc-name"
            oninput="changePreview()"
            required /><br />
         <input
            type="email"
            id="form-email"
            name="form-email"
            placeholder="Email"
            autocomplete="email" /><br />
         <input
            type="tel"
            class="form-text-input"
            id="form-phone"
            placeholder="Phone"
            autocomplete="tel" />
         <div class="submit-buttons-wrapper space-between">
            <button
               type="button"
               class="button-secondary"
               formnovalidate
               onclick="closeModal(); toggleSlideAnimationRight('modal')">
               Cancel
            </button>
            <button type="submit" class="button-primary">Create Contact</button>
         </div>
      </div>
   </form>
</div>
