<head>
   <link rel="stylesheet" href="styles/header.css" />
</head>

<div alt="join logo" class="logo"></div>
<h4>Kanban Project Management Tool</h4>
<div class="banner-element-wrapper">
   <img
      onclick="window.location.href='/help.html'"
      class="banner-element-help"
      src="assets/img/help.png"
      alt="Help icon" />
   <img
      onclick="logOutButtonVisibility()"
      class="banner-element-user"
      src="assets/img/christina-picture.png"
      alt="Christine Picture" />
</div>
<div
   id="log-out-button"
   onclick="logOutButtonVisibility()"
   class="banner-log-out-background display-none">
   <div onclick="window.location.href='/log-in.html'" class="banner-log-out-wrapper button-primary">
      Log out
   </div>
</div>
