<head>
   <link rel="stylesheet" href="styles/nav.css" />
</head>

<img
   src="assets/img/logo-white.png"
   class="logo mb-6"
   alt="join logo white" />
<div class="nav-element-wrapper">
   <div
      id="nav-element-summary"
      onclick="window.location.href='/summary.html'"
      class="nav-element">
      <img src="assets/img/nav-summary.png" alt="" />
      <p>Summary</p>
   </div>
   <div
      id="nav-element-board"
      onclick="window.location.href='/board.html'"
      class="nav-element">
      <img src="assets/img/nav-board.png" alt="" />
      <p>Board</p>
   </div>
   <div
      id="nav-element-add-task"
      onclick="window.location.href='/add-task.html'"
      class="nav-element">
      <img src="assets/img/nav-tasks.png" alt="" />
      <p>Add Task</p>
   </div>
   <div
      id="nav-element-contacts"
      onclick="window.location.href='/contacts.html'"
      class="nav-element">
      <img src="assets/img/nav-contacts.png" alt="" />
      <p>Contacts</p>
   </div>
</div>
<div
   id="nav-element-legal-notice"
   onclick="window.location.href='/legal-notice.html'"
   class="nav-element">
   <img src="assets/img/nav-info.png" alt="" />
   <p>Legal Notice</p>
</div>
