.title-wrapper h1 {
  border-right-style: none;
}

.task-edit-heading-gap {
  margin-top: 5px;
}

.add-task-layout-divider {
  display: flex;
}

.add-task-layout-divider-first-column {
  border-right-color: rgba(0, 0, 0, 0.2);
  border-right-width: 1px;
  border-right-style: solid;
  padding-right: 60px;
  margin-right: 60px;
}

.headline-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}