.title-wrapper h1 {
   border-right-style: none;
}

.search-wrapper {
   display: flex;
   align-items: center;
   border: rgb(226, 226, 226) solid 0.5px;
   border-radius: 12px;
   max-width: 250px;
   font-size: 1.25rem;
   margin-bottom: 1rem;
   background-color: white;
}

.search-wrapper:focus-within {
   outline: -webkit-focus-ring-color auto 1px;
}

.search-wrapper label {
   width: 10%;
   height: 2rem;
   display: flex;
   align-items: center;
   padding: 0 1rem;
   border-left: rgb(226, 226, 226) solid 0.5px;
}

.board-wrapper {
   display: flex;
   gap: 2rem;
}

.board-column {
   display: flex;
   flex-direction: column;
   flex-shrink: 1;
   flex-basis: 25%;
}

.board-column > div:first-child {
   display: flex;
   justify-content: space-between;
   padding: 1rem;
}

.board-column > div:first-child h4 {
   min-height: 3.625rem;
}

.add-button {
   padding: 0;
   width: 2rem;
   height: 2rem;
   min-width: 0;
   font-weight: normal;
   align-self: end;
}

.add-button:hover {
   border-color: rgb(45, 155, 221);
   color: rgb(45, 155, 221);
}

.task-shadow-wrapper {
   background-color: rgba(0, 0, 0, 0.01);
   border-color: rgba(0, 0, 0, 0.2);
   border-radius: 25px;
   border-style: dotted;
   border-width: 2px;
}

.task-shadow-wrapper-highlighted {
   background-color: rgba(0, 0, 0, 0.05);
}

.task-preview-wrapper {
   background-color: white;
   padding: 0.75rem;
   border-radius: 20px;
   box-shadow: rgba(134, 134, 134, 0.1) 0px 2px 10px;
   cursor: pointer;
   margin-bottom: 1rem;
}

.task-preview-wrapper:hover {
   box-shadow: rgba(134, 134, 134, 0.3) 0px 2px 10px;
}

.task-preview-wrapper:active {
   box-shadow: rgba(134, 134, 134, 0.5) 0px 2px 10px;
}

.task-preview-wrapper h6 {
   margin: 0.75rem 0 0.75rem;
}

.task-preview-wrapper p {
   margin: 0 0 1.25rem 0;
   color: rgb(165, 165, 165);
}

.task-preview-footer-wrapper {
   align-items: center;
   display: flex;
   justify-content: space-between;
   padding-right: 10px;
}

.task-preview-subtask-progress-wrapper {
   align-items: center;
   display: flex;
   font-size: 12px;
   gap: 15px;
   margin-bottom: 20px;
   white-space: nowrap;
}

.task-preview-subtask-progress-bar {
   background-color: rgb(222, 222, 222);
   border-radius: 10px;
   height: 6px;
   width: 100%;
}

.task-preview-subtask-progress-bar-done {
   background-color: rgb(0, 191, 255);
   border-radius: 10px;
   height: 100%;
}

.board-user-icon-wrapper {
   display: flex;
}

.board-user-icon-wrapper div {
   margin-right: -8px;
}

.board-user-icon {
   align-items: center;
   border-color: white;
   border-radius: 50px;
   border-style: solid;
   border-width: 1px;
   color: white;
   display: flex;
   font-size: 12px;
   height: 30px;
   justify-content: center;
   width: 30px;
}

.board-task-category {
   border-radius: 7px;
   color: white;
   display: inline-block;
   padding: 5px 20px 5px 20px;
}

.hide-original-drag-element {
   transform: translateX(-9999px);
   transition: 0.01s;
}

.task-detailed-wrapper {
   align-items: center;
   display: flex;
   justify-content: center;
}

/* .task-detailed-background {
   align-items: center;
   background-color: rgba(0, 0, 0, 0.3);
   bottom: 0;
   cursor: pointer;
   display: flex;
   justify-content: center;
   left: 0;
   position: absolute;
   right: 0;
   top: 0;
} */

.task-detailed-content {
   align-items: start;
   background-color: white;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   font-size: 18px;
   gap: 20px;
   max-height: calc(100% - 150px);
   padding: 50px;
   position: relative;
   width: 400px;
   /* Hide scrollbar for IE, Edge and Firefox */
   overflow: hidden;
   -ms-overflow-style: none;
   /* IE and Edge */
   scrollbar-width: none;
   /* Firefox */
}

.task-detailed-close-button {
   align-items: center;
   border-radius: 50px;
   cursor: pointer;
   display: flex;
   justify-content: center;
   padding: 5px;
   position: absolute;
   right: 30px;
   top: 30px;
   transform: rotate(45deg);
}

.task-detailed-close-button img {
   width: 25px;
}

.task-detailed-close-button:hover {
   background-color: rgba(0, 0, 0, 0.05);
}

.task-detailed-close-button:active {
   background-color: rgba(0, 0, 0, 0.1);
}

.task-detailed-attribute-wrapper {
   align-items: baseline;
   display: flex;
   font-size: 1rem;
   gap: 20px;
}

.task-detailed-priority {
   border-radius: 10px;
   color: white;
   display: flex;
   gap: 10px;
   padding: 5px 15px 5px 15px;
}

.task-detailed-assignee {
   align-items: center;
   display: flex;
   gap: 25px;
   margin-top: 20px;
}

.task-detailed-assignee p {
   margin: 0px;
}

.task-edit-wrapper {
   align-items: center;
   display: flex;
   flex-direction: column;
   gap: 20px;
   justify-content: center;
   padding: 10px 0px 50px 0px;
   width: 100%;
}

.task-edit-button {
   align-items: center;
   bottom: 30px;
   display: flex;
   gap: 5px;
   height: 50px;
   justify-content: center;
   padding: 15px;
   position: absolute;
   right: 30px;
}

.task-edit-button img {
   width: 20px;
}

.task-edit-priority {
   border-radius: 10px;
   box-shadow: rgba(99, 99, 99, 0.15) 0px 0.5px 4px 0.5px;
   cursor: pointer;
   display: flex;
   gap: 10px;
   padding: 10px 15px 10px 15px;
}

.task-edit-form-item-wrapper {
   width: 100%;
}

.task-edit-priority:hover {
   box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 4px 1px;
}

.task-edit-priority:active {
   box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 4px 1px;
}

.task-edit-priority-buttons {
   display: flex;
   gap: 10px;
}

.task-edit-form-input {
   box-sizing: border-box;
   margin: 0px;
   width: 100%;
}

.task-edit-assignee-select-wrapper {
   max-height: 200px;
   overflow: scroll;
   padding: 0px;
}

.task-edit-assignee-selection-item {
   align-items: center;
   cursor: pointer;
   display: flex;
   justify-content: space-between;
   padding: 15px 10px 15px 10px;
   position: relative;
}

.task-edit-assignee-selection-item img {
   width: 20px;
}

.task-edit-assignee-selection-item:hover {
   background-color: rgba(0, 0, 0, 0.05);
}

.task-edit-assignee-selection-item:active {
   background-color: rgba(0, 0, 0, 0.1);
}

.task-edit-assignee-selection-checkbox {
   background-color: rgba(0, 0, 0, 0.05);
   border-color: black;
   border-radius: 5px;
   border-style: solid;
   border-width: 1px;
   height: 10px;
   padding: 2px;
   width: 10px;
}

.task-edit-assignee-selection-checkbox-filled {
   background-clip: content-box;
   background-color: rgba(0, 0, 0);
}

.task-edit-heading-gap {
   margin-top: 5px;
}

.task-edit-assignee-contact-invite-wrapper {
   display: flex;
   align-items: center;
   position: relative;
}

.task-edit-assignee-contact-invite-icons-wrapper {
   background-color: white;
   display: flex;
   gap: 10px;
   padding-top: 5px;
   position: absolute;
   right: 10px;
}

.task-edit-assignee-contact-invite-icons-wrapper img {
   border-radius: 50px;
   cursor: pointer;
   height: 20px;
   object-fit: cover;
   padding: 5px;
}

.task-edit-assignee-contact-invite-icons-wrapper img:hover {
   background-color: rgba(0, 0, 0, 0.05);
}

.task-edit-assignee-contact-invite-icons-wrapper img:active {
   background-color: rgba(0, 0, 0, 0.1);
}

.grey-divider-div {
   border-color: rgba(0, 0, 0, 0.2);
   border-style: solid;
   border-width: 0.75px;
}

.task-edit-assignee-preview {
   display: flex;
   gap: 5px;
   margin: 15px 0px 0px 10px;
}

.task-edit-assignee-preview div {
   font-size: 1rem;
   height: 40px;
   width: 40px;
}

.form-pb-button {
   border-radius: 10px;
   box-sizing: border-box;
   box-shadow: rgba(99, 99, 99, 0.15) 0px 0.5px 4px 0.5px;
   cursor: pointer;
   display: flex;
   gap: 0.5rem;
   padding: 0.5rem;
   background-color: white;
}

.form-pb-button:hover {
   box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 4px 1px;
}

input:checked + .form-pb-button {
   box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 4px 1px;
}

.form-pb {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
}

.form-pb > div {
   width: 8rem;
}

dialog[open]:has(div.task-detailed-content) {
   height: fit-content;
}

@media (max-width: 1160px) and (min-width: 960px), (max-width: 760px) {
   .board-wrapper {
      flex-direction: column;
      overflow-y: scroll;
      padding-bottom: 13.25rem;
   }

   .board-column:not(:last-of-type)::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.2);
   }

   .board-column > div:first-child {
      padding-bottom: 0;
      padding-top: 0;
   }
}

@media (max-width: 1100px) {
   .title-wrapper {
      margin-bottom: 2.5rem;
   }
}
