.title-wrapper h1 {
    border-right-style: none;
}

.button-primary {
    height: 45px;
}

.headline-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.headline-action-wrapper {
    align-items: center;
    display: flex;
    gap: 40px;
}

.filter-wrapper {
    background-color: white;
    border-color: rgb(186, 186, 186);
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    gap: 10px;
    height: 30px;
    padding: 8px;
}

.filter-wrapper img {
    width: 18px;
}

.filter-wrapper div {
    border-color: lightgrey;
    border-left-width: 1px;
    border-right-width: 0px;
    border-style: solid;
}

.filter-wrapper input {
    border-style: none;
    font-size: 18px;
    margin-left: 10px;
    outline: none;
    width: 180px;
}

.filter-wrapper button {
    background-color: white;
    border-radius: 50px;
    border-style: none;
}

.board-wrapper {
    display: flex;
    gap: 30px;
    padding-bottom: 40px;
}

.board-column {
    width: 100%;
}

.board-column-headline {
    align-items: stretch;
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding-left: 10px;
}

.board-column-headline h3 {
    font-size: 22px;
}

.board-column-add-task-button {
    align-items: center;
    background-color: white;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
}

.board-column-add-task-button:hover {
    background-color: rgb(244, 244, 244);
}

.board-column-add-task-button:active {
    background-color: rgb(228, 228, 228);
}

.board-tasks-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: calc(100% - 80px);
}

.task-shadow-wrapper {
    background-color: rgba(0, 0, 0, 0.01);
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    border-style: dotted;
    border-width: 2px;
}

.task-shadow-wrapper-highlighted {
    background-color: rgba(0, 0, 0, 0.05);
}

.task-preview-wrapper {
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(134, 134, 134, 0.1) 0px 2px 10px;
    cursor: pointer;
    padding: 20px;
}

.task-preview-wrapper h5 {
    margin: 15px 0px 10px 0px;
    font-weight: 600;
    font-size: 17px;
}

.task-preview-wrapper p {
    margin: 0px 0px 20px 0px;
    color: rgb(165, 165, 165);
}

.task-preview-footer-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.task-preview-subtask-progress-wrapper {
    align-items: center;
    display: flex;
    font-size: 12px;
    gap: 15px;
    margin-bottom: 20px;
    white-space: nowrap;
}

.task-preview-subtask-progress-bar {
    background-color: rgb(222, 222, 222);
    border-radius: 10px;
    height: 6px;
    width: 100%;
}

.task-preview-subtask-progress-bar-done {
    background-color: rgb(0, 191, 255);
    border-radius: 10px;
    height: 100%;
}

.board-user-icon-wrapper {
    display: flex;
}

.board-user-icon {
    align-items: center;
    border-color: white;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    color: white;
    display: flex;
    font-size: 12px;
    height: 30px;
    justify-content: center;
    margin-right: -8px;
    width: 30px;
}

.board-task-category {
    border-radius: 7px;
    color: white;
    display: inline-block;
    padding: 5px 20px 5px 20px;
}