.contact-list-wrapper {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.139) 0px 2px 6px;
  height: calc(100vh - 5rem + 10px);
  width: 24.375rem;
  overflow-y: scroll;
  padding: 0 3.33rem;
}

/* Contact-List-Scrollbar */
.contact-list-wrapper::-webkit-scrollbar {
  width: 10px;
}

.contact-list-wrapper::-webkit-scrollbar-thumb {
  background-color: #a8a8a8be;
  border-radius: 10rem;
  border: 1px solid #fff;
}

.contact-list-wrapper::-webkit-scrollbar-track {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Buttons */
.contact-list-wrapper::-webkit-scrollbar-button:single-button {
  display: block;
  border-style: solid;
  height: 2rem;
}
/* Up */
.contact-list-wrapper::-webkit-scrollbar-button:single-button:vertical:start:decrement {
  border-width: 2rem 5px 5px 5px;
  border-color: transparent transparent #a8a8a8be transparent;
}

.contact-list-wrapper::-webkit-scrollbar-button:single-button:vertical:start:decrement:hover {
  border-color: transparent transparent #a8a8a8 transparent;
}
/* Down */
.contact-list-wrapper::-webkit-scrollbar-button:single-button:vertical:end:increment {
  border-width: 5px 5px 0 5px;
  border-color: #a8a8a8be transparent transparent transparent;
}

.contact-list-wrapper::-webkit-scrollbar-button:vertical:single-button:end:increment:hover {
  border-color: #a8a8a8 transparent transparent transparent;
}

.contact-list-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}

.contact-list-wrapper::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

.contact-list-wrapper::-webkit-scrollbar-track-piece:end {
  background: transparent;
}
/* Contact-List-Scrollbar #END */

.user-icon {
  align-items: center;
  border-radius: 50%;
  border: solid 2px white;
  display: flex;
  height: 3rem;
  aspect-ratio: 1 / 1;
  justify-content: center;
  margin: 0 2.66rem 0.66rem 0.66rem;
  font-size: 0.875rem;
}

.user-icon-big {
  height: 9rem;
  font-size: 2.625rem;
}

.contact-wrapper h2 {
  font-size: 3.5rem;
  font-weight: 500;
}

.contact-list-divider {
  border-bottom: 2px solid #e8e8e8;
  padding: 0 1.5rem 2rem;
  margin: 2rem 0 0.66rem;
}

.contact-list-divider:first-of-type {
  padding-top: 2rem;
}

.contact-wrapper {
  display: flex;
  padding: 1rem 0 1rem;
  border-radius: 10px;
}

.contact-wrapper:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

.contact-btn {
  display: none;
}

.contact-btn:checked + .contact-wrapper {
  background-color: #2a3647;
  color: white;
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-details h6 {
  margin-bottom: 2.5px;
}

.contact-wrapper:last-of-type {
  margin-bottom: 4rem !important;
}

.contact-details-big {
  justify-content: space-evenly;
  margin-left: 2.25rem;
}

.contact-details-big div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-details span {
  font-size: 3rem;
  font-weight: 300;
}

.main-content-wrapper {
  position: absolute;
}

.animate-right {
  animation: animateright 0.125s ease-in-out;
}

@keyframes animateright {
  from {
    left: calc(80px + 100vw);
    opacity: 0.5;
  }

  to {
    left: 80px;
    opacity: 1;
  }
}
