.nav-element-wrapper {
   width: 100%;
}

nav > .logo {
   margin-top: 3rem;
   margin-bottom: 4.5rem;
}

.nav-element {
   cursor: pointer;
   display: flex;
   gap: 1rem;
   padding-left: 2.5rem;
}

.nav-element:hover {
   background-color: rgb(25, 32, 43);
}

.nav-element img {
   width: 1.25rem;
   object-fit: contain;
}

.nav-element-active {
   background-color: rgb(10, 19, 37);
   color: white;
}

#nav-element-legal-notice {
   position: absolute;
   bottom: 0;
   left: 0;
   margin: 0 0 3rem;
   padding: 0;
   width: 100%;
}

#nav-element-legal-notice img {
   padding-left: 2.5rem;
}

nav .logo {
   background-image: url('../assets/img/logo-white.png');
}

@media (max-width: 960px) {
   nav {
      position: absolute;
      height: 6.625rem;
      bottom: 0;
      width: 100vw;
      z-index: 10;
   }

   nav > .logo {
      display: none;
   }

   .nav-element-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
   }

   #nav-element-legal-notice {
      display: none;
   }

   .nav-element {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem 0 0;
      align-items: center;
      flex-grow: 1;
   }
}
