.info-box-greeting-wrapper {
   display: flex;
   align-items: center;
}

.greeting-wrapper {
   margin-left: 50px;
}

.greeting-wrapper p:first-child {
   font-size: 40px;
   margin: 0px;
}

.greeting-wrapper p:last-child {
   font-size: 50px;
   font-weight: 700;
   color: rgb(45, 155, 221);
   margin: 0px;
}

.summary-table {
   height: 550px;
   width: 550px;
}

.summary-table div {
   display: flex;
}

.info-box {
   cursor: pointer;
   padding: 1.5rem;
   margin: 1rem;
   transition: 0.125s;
   flex: 1 1 0px;
   height: 110px;
}

.info-box:hover {
   background-color: rgb(32, 41, 55);
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
   color: white;
   scale: 1.05;
}

.info-box p {
   margin: 0px;
   text-align: center;
}

.info-box-small {
   gap: 10px;
}

.info-box-medium,
.info-box-large {
   flex-direction: row;
}

.info-box-medium img {
   width: 50px;
}

.info-box-large div:first-child {
   align-items: center;
   border-right: rgb(199, 199, 199) solid 3px;
   display: flex;
   margin-right: 2.75rem;
   padding: 0 2.75rem;
   flex-shrink: 1;
}

.info-box-large div:last-child {
   align-items: start;
   display: flex;
   flex-direction: column;
   gap: 10px;
   flex-grow: 1;
}

.info-box-large img {
   object-fit: contain;
   width: 3rem;
}

.info-box-content {
   display: flex;
   flex-direction: column;
   gap: 5px;
   text-align: center;
   margin-left: 20px;
}

.info-box-content h2 {
   width: 100%;
}

#deadline {
   font-weight: 700;
}

@media (max-width: 960px) {
   main *:not(section, .greeting-wrapper, .greeting-wrapper p) {
      animation: display-content 1.5s ease-in;
   }

   .info-box {
      margin: 0.75rem;
      padding: 1rem;
   }

   .info-box-small {
      gap: 0;
   }

   .greeting-wrapper {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: fit-content;
      height: fit-content;
      text-align: center;
      opacity: 0;
      animation: greetings 1s ease-in;
   }

   .info-box-large div:first-child {
      margin-right: 1.5rem;
      padding: 0 1.5rem;
   }

   .info-box-large div:last-child {
      justify-content: center;
      align-items: center;
      text-align: center;
   }
}
